.container{
	position: relative;
}

#aldeano{
	position: relative;
	width: 100%;
	top: 25%;
}

#mensaje{
	position: relative;
	width: 280%;
	top: 4em;
}

#boton{
	position: relative;
	width: 90%;
	top: 10em;
}


#item{
	position: relative;
	width: 80%;
	top: 4em;
}


#tablero{
	background-image: url("../img/tienda/descripcion.png");
	background-size: 100%;
	background-repeat: no-repeat; 
	position: relative;
	width: auto;
	height: auto;
	margin-top: 9em;
	padding-top: 0.8em;
}

#tabla{
	background-image: url("../img/tienda/tabla.jpg");
	/*background-size: cover;*/
	background-repeat: no-repeat;

	position: relative;
	width: 100%;
	height: 700px;
}

/**LAGRIMAS*/

.item-list-first {
	position: relative;
	width: 70%;
	margin-top: 4em;
}

.item-list {
	position: relative;
	margin-top: 0.4em;
	width: 70%;
}

.icon-list {
	position: absolute;
	width: 8%;
	margin-top: -2.6em;
	left: 5em;
}

.btn-first{
	position: relative;
	margin-top: 4.4em;
	width: 36%;
}

.btn {
	position: relative;
	margin-top: 0.6em;
	width: 60%;
}

#comprarbtn {
	font-size: 1.6em;
	color: #fff;
	margin-top: 2.2em;
}